@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: Poppins;
}
body {
  background-color: #fbfbfb;
}

.main-section {
  border: 1px solid black;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  /* single */
  /* background-color: black; */
  /* mutil colors */
  /* background: linear-gradient(45deg, red 0% 10%, magenta 10% 90%, red 90% 100%); */
  /* images */
  background-image: linear-gradient(transparent, #170505dc),
    url(../images/main-bg.png);
  background-size: 100%; /* width height */
  background-repeat: no-repeat;
  background-position: center;
}

/*  flex-direction: row;
    justify-content works horizontally  (left-right)
    align-items works vertically (top-bottom)
*/

/*  flex-direction: column;
    justify-content works vertically (top-bottom) 
    align-items works horizontally  (left-right)
*/

.main-section-header {
  /* background-color: red; */
  width: 100%;
  padding: 15px 50px;
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 15px;
}

.create-account {
  border: 1px solid white;
  border-radius: 4px;
}

.brand-logo {
  width: 150px;
  height: 150px;
  background-color: white;
  color: red;

  /* make a content to center */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  /* font property */
  font-size: 4rem;
  /* rem ==> root emphasis
     2rem = 32px
     1rem = 16px
     0.5 = 8px 
     0.25 = 4px
  */
  font-weight: bold;
  /* font-style: italic; */
}

.main-section-text {
  font-size: 2rem;
  margin: 1rem 0px;
  font-weight: bold;
}

.search {
  display: flex;
  justify-content: space-between;
  /* background-color: yellow; */
  width: 50%;
}

.input {
  outline: none;
  border-radius: 0px;
  border: none;
  padding: 10px;
}

.location-search {
  width: 40%;
}

.restaurant-search {
  background-color: white;
  width: 58%;
}

.restaurant-search > input {
  width: 80%;
}

.restaurant-search > span {
  color: black;
}

.search-icon {
  margin: 0px 10px;
  color: #070726;
}

.d-none {
  display: none;
}

/* section-2 */
.meal-type {
  /* background-color: red; */
  width: 80%;
  margin: auto;
  padding-top: 32px;
}

.meal-type-title {
  color: #070726;
}

.meal-type-sub-title {
  color: gray;
}

.meal-type-list {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.meal-type-list-item {
  display: flex;
  /* background-color: red; */
  /* border: 1px solid black; */
  width: 32%;
  height: 25vh;
  margin-bottom: 16px;

  /* shadow */
  box-shadow: 0px 0px 5px gray;
  /* x-axis y-axis  color  */
  /* x-axis y-axis blur scale color */
  /* x-axis (left (-) / right (+)) */
  /* y-axis (top (-) / bottom (+) */
}

.list-item-image {
  width: 45%;
}

.list-item-content {
  padding: 20px;
  background-color: white;
}

.list-item-content-title {
  color: #070726;
}

.list-item-content-sub-title {
  font-size: 12px;
  color: gray;
}
