p {
  margin-bottom: 0 !important;
}

.brand {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  /* text center */

  display: flex;
  justify-content: center;
  align-items: center;
}
