* {
  margin: 0;
  box-sizing: border-box;
}

.bg-red {
  background-color: red;
}
.bg-green {
  background-color: green;
}
.bg-magenta {
  background-color: magenta;
}
.bg-yellow-green {
  background-color: yellowgreen;
}

.flex-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 90vh;

  /* justify-content: space-evenly; */
  /* align-items: flex-start; */
  align-content: space-evenly;
}

.flex-item {
  height: 100px;
  width: 50%;
}
